<!doctype html>
{% load static %}
<html>
  <head>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
 
   <link rel="stylesheet" href="/static/js/bower_components/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="/static/js/bower_components/font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="/static/js/bower_components/Ionicons/css/ionicons.min.css">
   <link rel="stylesheet" href="/static/js/bower_components/jvectormap/jquery-jvectormap.css">
   <link rel="stylesheet" href="/static/js/dist/css/AdminLTE.min.css">
   <link rel="stylesheet" href="/static/js/dist/css/skins/_all-skins.min.css">
   <script src="/static/js/bower_components/jquery/dist/jquery.min.js"></script>
   <script src="/static/js/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
   <script src="/static/js/bower_components/fastclick/lib/fastclick.js"></script>
   <script src="/static/js/dist/js/adminlte.min.js"></script>
   <script src="/static/js/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
   <script src="/static/js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
   <script src="/static/js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
   <script src="/static/js/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
   <script src="/static/js/bower_components/chart.js/Chart.js"></script>
   <script src="/static/js/dist/js/pages/dashboard2.js"></script>
   <script src="/static/js/dist/js/demo.js"></script>
   <script src="/static/admin/adminApp.module.js"></script>
   <script src="/static/admin/adminApp.config.js"></script>
   <script src="/static/admin/studentAppController.js"></script>
   <script src="/static/admin/dashboard/controller/dashboardController.js"></script>
   <!-- <script src="/static/student/profile/controller/ProfileController.js"></script> -->
  <!--  <script src="/static/student/issue/issue.js"></script>
   <script src="/static/student/notification/notification.js"></script> -->
 </head>


 
  



 