{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
QLS-register
{% endblock %}
{% block head %}
 {{ block.super }}
 
  <script src="{% static 'js/student/student_Registration.js' %}"></script>

  
  {% endblock %}
  {% block front_pane %}  

<style>
body  {
 
  background-color: #cccccc;
}
</style>


<div class="container" ng-cloak ng-app="qlsApp" ng-controller="registerCtrl" class="container">
 <div class="row">
{% verbatim %}
  <div class="col-md-7 panel panel-default" style="margin-top: 50px">
   
  <form  class="form-horizontal" name="studentform" ng-submit="studentregistrationform()" novalidate>
              
                <div class="form-group">
                  <label class="col-md-4 control-label" ><span class="cus_man7"></span></label>
                  <div class="col-md-10">
                     <input id="name" name="full_name"  ng-model ="user.full_name"  type="text" placeholder="full_name" class="form-control"  placeholder="Full Name" required pattern="[A-Za-z '-]{2,}">
                     <span style="color: red" ng-show="studentform.full_name.$error.required && (studentform.$submitted || studentform.full_name.$touched)">Full name is required.</span>

                     <span style="color: red" ng-show="studentform.full_name.$error.pattern && (studentform.$submitted || studentform.full_name.$touched)">Full name should be only letter.</span>  
                    
                  </div>
               </div>


               <div class="form-group">
                  <label class="col-md-4 control-label"><span class="cus_man7"></span></label>
                  <div class="col-md-10">
                     <input   name="username" ng-model ="user.username" ng-pattern="/^[a-z][a-z0-9-_\.]{3,20}$/"   ng-maxlength ="20" ng-minlength="4"  align="right" type="text" id="username" placeholder="username" class="form-control field"  required >
                      <span style="color: red" ng-show="studentform.username.$error.required && (studentform.username.$touched || studentform.$submitted)">User name is required.</span>
                      <span style="color: red"
                        ng-show="studentform.username.$error.minlength && (studentform.username.$touched  || studentform.$submitted)">User name is too short</span>
                      <span style="color: red" ng-show="studentform.username.$error.maxlength && (studentform.username.$touched  || studentform.$submitted)">User name is too long</span>
                      <span style="color: red" ng-show="studentform.username.$error.pattern && (studentform.$submitted || studentform.username.$touched)">
                         Username can only contain small letters, number, dots or underscore.</span>  
                         <!-- <span style="color: red">{{ username[0] }}</span> -->
                
                <span style="color: red">{{ username_error[0] }}</span>
              </div>
            </div>

              
               <div class="form-group">
                  <label class="col-md-4 control-label"><span class="cus_man7"></span></label>
                  <div class="col-md-10">
                     <input id="password" name="password"  ng-model ="user.password" type="text"  class=" form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="Password"  required>
                     <span style="color: red" ng-show="studentform.password.$error.required &amp;&amp; (studentform.$submitted || studentform.password.$touched)" class="">
                                Password is required.</span>
                  </div>
               </div>

               <div class="form-group">
                    <label class="col-md-4 control-label"><span class="cus_man7"></span></label>
                    <div class="col-md-10">
                      <input   name="mobile_no" ng-model ="user.mobile_no"  type="text" id="mobile_no" placeholder="Mobile No" class="form-control thedate" ng-minlength="10" ng-maxlength="10"    required >
                      <span style="color: red" ng-show="studentform.mobile_no.$error.required && (studentform.$submitted || studentform.mobile_no.$touched)">Mobile number is required.</span>
                      <span style="color: red" ng-show="studentform.mobile_no.$error.minlength && (studentform.$submitted || studentform.mobile_no.$touched)">mobile number should be only 10 digit.</span>
                      <span style="color: red" ng-show="studentform.mobile_no.$error.maxlength && (studentform.$submitted || studentform.mobile_no.$touched)">mobile number should  be only 10 digit.</span>
                      <span style="color: red;margin-left: 17px;">{{mobile_error[0]}}</span>
                    </div>
                  </div>
                                    
                              

               <div class="form-group">
                  <label class="col-md-4 control-label"><span class="cus_man7"></span></label>
                  <div class="col-md-10">
                     <input id="age" name="age"  ng-model ="user.age" type="text"  class=" form-control field" placeholder="age" required>
                     <span style="color: red" ng-show="studentform.age.$error.required && (studentform.$submitted || studentform.age.$touched)">
                              Age is required.
                            </span>
                  </div>
               </div>
                
               <div class="form-group">
                  <label class="col-md-4 control-label"><span class="cus_man7"></span></label>
                  <div class="col-md-10">
                     <input id="country" name="country"   ng-model ="user.country"  type="text" placeholder="Country" class="form-control" required>
                     <span style="color: red" ng-show="studentform.country.$error.required && (studentform.$submitted || studentform.country.$touched)">
                              country is required.
                            </span>
                  </div>
               </div>
              
               <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-10">
                     <input id="state" name="state"  ng-model ="user.state"  type="text" placeholder="State" class="form-control" title="State name should be letter" required>
                     <span style="color: red" ng-show="studentform.state.$error.required && (studentform.$submitted || studentform.state.$touched)">
                              state is required.
                            </span>
                  </div>
               </div>
              
               <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-10">
                     <input id="pincode" name="pincode"  ng-model ="user.pincode"  type="text" placeholder="Pincode"  class="form-control"   ng-maxlength="6" ng-minlength="6"  >
                     <span style="color: red" ng-show="studentform.pincode.$error.required && (studentform.$submitted || studentform.pincode.$touched)">
                              pincode is required.
                            </span>
                     <span style="color: red" ng-show="studentform.pincode.$error.maxlength && (studentform.pincode.$touched  || studentform.$submitted)">Pin code should be 6 digit</span>
                     <span style="color: red" ng-show="studentform.pincode.$error.minlength && (studentform.pincode.$touched  || studentform.$submitted)">Pin code should be 6 digit</span>
                     <!-- <span style="color: red" ng-show="studentform.pincode.$error.pattern && (studentform.$submitted || studentform.pincode.$touched)">pin code should be number</span> -->
                  </div>
               </div>

                <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-10">
                     <textarea id="address" name="address"  ng-model ="user.address"  type="text" placeholder="Address" class="form-control" required></textarea>
                     <span style="color: red" ng-show="studentform.address.$error.required && (studentform.$submitted || studentform.address.$touched)">
                              address is required.
                            </span>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-md-4 control-label">Select Board</label>
                  <div class="col-md-10">
                    <select id="board_name" name="board_name" type="text" class="form-control" placeholder="Select Board" ng-options="item as item.board_name for item in boards track by item.board_id" ng-model="board_name" required></select>
                       <span style="color: red" ng-show="studentform.board_name.$error.required && (studentform.$submitted || studentform.board_name.$touched)">
                              board_name is required.</span>
                            </div>
                  </div>
               <div class="form-group">
                  <label class="col-md-4 control-label">Select Standard</label>
              
                  <div class="col-md-10">
                    
                    <select  id="standard_name" name="standard_name" type="text" class="form-control" placeholder="Select Standard" ng-options="item as item.standard_name for item in standards track by item.standard_id" ng-model="standard_name" required></select>
                    <span style="color: red" ng-show="studentform.standard_name.$error.required && (studentform.$submitted || studentform.standard_name.$touched)">
                              standard_name is required.
                            </span>
                  </div>
               </div>


               <div class="form-group">
                  <label class="col-md-4 control-label"></label>
                  <div class="col-md-10">
                     <input id="school_name" name="school_name"  ng-model ="user.school_name"  type="text" placeholder="school_name" class="form-control" required>
                     <span style="color: red" ng-show="studentform.school_name.$error.required && (studentform.$submitted || studentform.school_name.$touched)">
                              school_name is required.
                            </span>
                  </div>
               </div>
              


                      

               
               <div class="form-group col-md-12">
                <input type="checkbox"   name="TermsandCondition" > I agree to the <a href="/app/terms">terms and conditions</a>Privacy policy</a><br>
                            
                            </div>    
 
               <button type="submit"  class="btn btn-success cus_man4">Submit</button>
              
            </form> {% endverbatim %}
            </div>
</div>
</div>
{% endblock %}
<!--  -->




