
<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>Scholl management system</title>
 
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">
<link href="{% static 'css/main.css' %}" rel="stylesheet">
<link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.min.css.css' %}" rel="stylesheet">



<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
<link rel="shortcut icon" href="images/ico/favicon.ico">
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head> 
<style>
.outer-div
{
     height: 300px;
     overflow: hidden; 
}
.inner-div
{
     height: 100%;
     width:100%
     background-size: cover;
     background-position: center;
     transition: all 0.5s ease;
     background-image: url('foo.jpg');
}
.inner-div:hover
{
     transform: scale(1.2);
}
</style>
<body class="homepage">
<header id="header">
<div class="top-bar">
<div class="container">
<div class="row">
<div class="col-sm-6 col-xs-4">
<div class="top-number"><p><i class="fa fa-phone-square"></i> +91 8800144116</p></div>
</div>
<div class="col-sm-6 col-xs-8">
<div class="social">
<ul class="social-share">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
<li><a href="#"><i class="fa fa-skype"></i></a></li>
</ul>

</div>
</div>
</div>
</div> 
</div> 
<nav class="navbar navbar-inverse" role="banner">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<!-- <a class="navbar-brand" href="index.html" class="img-circle"><img src="images/log/cpn.jpg" alt="logo" style="height: 73px;
    width: 128px;border-radius: 50%;
    margin-bottom: 20px;"></a> -->
</div>
<div class="collapse navbar-collapse navbar-right">
<ul class="nav navbar-nav">
<li><a href="about-us.html">About Us</a></li>
<!-- <li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
<ul class="dropdown-menu">
<li><a href="blog-item.html">Pages1</a></li>
<li><a href="pricing.html">Pages2</a></li>
<li><a href="404.html">Pages3</a></li>
<li><a href="shortcodes.html">Pages4    </a></li>
</ul>
</li> -->

<li><a href="/app/contact_us">Contact</a></li>
<li><a href="/app/faculty">Our faculty</a></li>
<li><a href="/app/login/">Student login</a></li>
<li><a href="/app/login">Faculty login</a></li>
<li><a href="/app/faculty_registration">Faculty Registrion</a></li>
<li><a href="/app/student_registration">Student Registrion</a></li>

</ul>
</div>
</div> 
</nav> 
</header> 
<section id="main-slider" class="no-margin">
<div class="carousel slide">
<ol class="carousel-indicators">
<li data-target="#main-slider" data-slide-to="0" class="active"></li>
<li data-target="#main-slider" data-slide-to="1"></li>
<li data-target="#main-slider" data-slide-to="2"></li>
</ol>
<div class="carousel-inner">
<div class="item active" style="background-image: url({% static 'images/libray1.jpg'%});">
<div class="container">
<div class="row slide-margin">
<div class="col-sm-6">
<div class="carousel-content">
<h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
<h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
<a class="btn-slide animation animated-item-3" href="#">Read More</a>
</div>
</div>
<div class="col-sm-6 hidden-xs animation animated-item-4">
<!-- <div class="slider-img">
<img src="images/slider/g.png" class="img-responsive">
</div> -->
</div>
</div>
</div>
</div> 
<div class="item active" style="background-image: url({% static 'images/libray1.jpg'%});">
<div class="container">
<div class="row slide-margin">
<div class="col-sm-6">
<div class="carousel-content">
<h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
<h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
<a class="btn-slide animation animated-item-3" href="#">Read More</a>
</div>
</div>
<div class="col-sm-6 hidden-xs animation animated-item-4">
<div class="slider-img">
 <img src="images/slider/img2.png" class="img-responsive">
</div>
</div>
</div>
</div>
</div> 
<div class="item active" style="background-image: url({% static 'images/libray1.jpg'%});">
<div class="container">
<div class="row slide-margin">
<div class="col-sm-6">
<div class="carousel-content">
<h1 class="animation animated-item-1">Lorem ipsum dolor sit amet consectetur adipisicing elit</h1>
<h2 class="animation animated-item-2">Accusantium doloremque laudantium totam rem aperiam, eaque ipsa...</h2>
<a class="btn-slide animation animated-item-3" href="#">Read More</a>
</div>
</div>
<div class="col-sm-6 hidden-xs animation animated-item-4">
<div class="slider-img">
<img src="images/slider/img3.png" class="img-responsive">
</div>
</div>
</div>
</div>
</div> 
</div> 
</div> 
<a class="prev hidden-xs" href="#main-slider" data-slide="prev">
<i class="fa fa-chevron-left"></i>
</a>
<a class="next hidden-xs" href="#main-slider" data-slide="next">
<i class="fa fa-chevron-right"></i>
</a>
</section> 
<section id="feature">
<div class="container">
<div class="center wow fadeInDown">
<h2>How can we help you today?</h2>

</div>
<div class="row">
<div class="features">
<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<div class="feature-wrap">
<!--<i class="fa fa-bullhorn"></i>-->
<h2>ABC</h2>
<h3>PG Paper specialise in a variety of papers including graphical, packaging and speciality grades from our mill partners across the world. We can offer personalised solutions to your paper needs and are always happy to discuss your requirements and provide the most suitable paper including graphical, packaging and speciality sourced from mills worldwide.</h3>
</div>
</div> 
<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<div class="feature-wrap">
<!--<i class="fa fa-bullhorn"></i>-->
<h2>ABC</h2>
<h3>Our various global warehousing facilities are strategically placed, making us an ideal choice for customers and suppliers. Our experienced team strive to offer flexible collection and delivery terms across the globe and personally manage each shipment with outstanding customer care and dedication.</h3>
</div>
</div> 
<div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<div class="feature-wrap">
<!--<i class="fa fa-bullhorn"></i>-->
<h2>ABC</h2>
<h3>As a UK based paper company we are affiliated with the world leaders of trade related credit insurance. We work closely with these agencies to ensure we offer you flexibility and peace of mind to create a hassle free payment process with every transaction.</h3>
</div>
</div> 
</div> 
</div> 
</div> 
</div> 
</section> 
<section id="recent-works">
<div class="container">
<div class="center wow fadeInDown">
<h2>Recent News</h2>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
</div>

</div> 
</section> 
<section id="services" class="service-item">
<div class="container">
<div class="center wow fadeInDown">
<h2>Our Product</h2>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
</div>
<div class="row ">
<div class="col-sm-6 col-md-6 outer-div">
<div class="media services-wrap wow fadeInDown">
<div class="pull-left inner-div">
<img class="img-responsive" src="images/services/Product1.jpg">
</div>
<div class="media-body">
<h3 class="media-heading">Product Detail</h3>
<p style=text-align: justify;>Lorem ipsum dolor sit ame consectetur adipisicing elit Lorem ipsum dolor sit ame consectetur adipisicing elit Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6 outer-div">
<div class="media services-wrap wow fadeInDown">
<div class="pull-left inner-div">
<img class="img-responsive" src="images/services/Product1.jpg">
</div>
<div class="media-body">
<h3 class="media-heading">Product Detail</h3>
<p style=text-align: justify;>Lorem ipsum dolor sit ame consectetur adipisicing elit Lorem ipsum dolor sit ame consectetur adipisicing elit Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
</div>
</div>
</div>
</div>

</div> 
</div> 
</section> 
<section id="middle">
<div class="container">
<div class="row">
<div class="col-sm-6 wow fadeInDown">
<div class="skill">
<h2>Our Quality</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<div class="progress-wrap">
<h3>abcde</h3>
<div class="progress">
<div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
<span class="bar-width">85%</span>
</div>
</div>
</div>
<div class="progress-wrap">
<h3>abcde</h3>
<div class="progress">
<div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
<span class="bar-width">95%</span>
</div>
</div>
</div>
<div class="progress-wrap">
<h3>abcde</h3>
<div class="progress">
<div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
<span class="bar-width">80%</span>
</div>
</div>
</div>
<div class="progress-wrap">
<h3>abcde</h3>
<div class="progress">
<div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
<span class="bar-width">90%</span>
</div>
</div>
</div>
</div>
</div> 
<div class="col-sm-6 wow fadeInDown">
<div class="accordion">
<h2>Why People like us?</h2>
<div class="panel-group" id="accordion1">
<div class="panel panel-default">
<div class="panel-heading active">
<h3 class="panel-title">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
Lorem ipsum dolor sit amet
<i class="fa fa-angle-right pull-right"></i>
</a>
</h3>
</div>
<div id="collapseOne1" class="panel-collapse collapse in">
<div class="panel-body">
<div class="media accordion-inner">
<div class="pull-left">
<img class="img-responsive">
</div>
<div class="media-body">
<h4>Adipisicing elit</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore</p>
</div>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
Lorem ipsum dolor sit amet
<i class="fa fa-angle-right pull-right"></i>
</a>
</h3>
</div>
<div id="collapseTwo1" class="panel-collapse collapse">
<div class="panel-body">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
Lorem ipsum dolor sit amet
<i class="fa fa-angle-right pull-right"></i>
</a>
</h3>
</div>
<div id="collapseThree1" class="panel-collapse collapse">
<div class="panel-body">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
Lorem ipsum dolor sit amet
<i class="fa fa-angle-right pull-right"></i>
</a>
</h3>
</div>
<div id="collapseFour1" class="panel-collapse collapse">
<div class="panel-body">
Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
</div>
</div>
</div>
</div> 
</div>
</div>
</div> 
</div> 
</section> 
<section id="content">

<div class="container">
<div class="center wow fadeInDown">
<h2>Board of Member</h2>

</div>
<div class="row">
<div class="col-xs-12 col-sm-12 wow fadeInDown">
<div class="tab-wrap">
<div class="media">
<div class="parrent pull-left">
<ul class="nav nav-tabs nav-stacked">
<li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Director</a></li>
<li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Priciple</a></li>
<li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Vice Priciple</a></li>
<li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Adminstraion Head</a></li>
<li class=""><a href="#tab5" data-toggle="tab" class="tehnical">XYZ?</a></li>
</ul>
</div>
<div class="parrent media-body">
<div class="tab-content">
<div class="tab-pane fade" id="tab1">
<div class="media">
<div class="pull-left">
</div>
<div class="media-body">
<h2>Stocklot paper</h2>
<p style="font-size: 17px;
    text-align: justify;">Stocklot paper cannot be sold as prime production paper by the paper mills for a variety of reasons.
For example, it could be:

Transition paper where they have changed the grammage on the paper machine mid-process.
Paper which has been stored and subsequently aged.
Paper which has been damaged beyond what would be acceptable as part of the original premium order but not so damaged that it would be re-pulped.
Paper which is slightly off specification. Perhaps the coating is as little as 1% less glossy than it should be.
Trim paper, which is the excess after the mill has cut the required size for prime orders.
We work with many grades in stock lot, B grade quality including publishing grades such as WFU/WFC, newsprint and SCA. Packaging grades include SBS, FBB, kraft liners, test liner and fluting. Our speciality grades include thermal, metallised and C1S, Chromo, and greaseproof.
Whatever the reason, the paper is not suitable for the mill to sell as a premium grade paper and is available to PG Paper to offer as stocklot.</p>
</div>
</div>
</div>
<div class="tab-pane fade active in" id="tab2">
<div class="media">
<div class="pull-left">

</div>
<div class="media-body">
<h2>Stocklot paper</h2>
<p style="font-size: 17px;
    text-align: justify;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.
</p>
</div>
</div>
</div>
<div class="tab-pane fade" id="tab3">
<h2>Prime paper</h2>
<p style="font-size: 17px;
    text-align: justify;">Lorem ifffpsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
</div>
<div class="tab-pane fade" id="tab4">
<p style="font-size: 17px;
    text-align: justify;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words </p>
</div>
<div class="tab-pane fade" id="tab5">
<p style="font-size: 17px;
    text-align: justify;">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,</p>
</div>
</div>  
</div>  
</div>  
</div> 
</div> 
</div> 
</div> 
</section> 
<section style="background-color: #DCDCDC";>
<div class="container">
<div class="center wow fadeInDown">
<h2>COMMITMENT AND  SERVICE</h2>
<div class="col-sm-6 col-md-6">
<div class="media services-wrap wow fadeInDown">
<div class="media-body">
<h3>COMMITMENT</h3>
<p style=text-align: justify;>Lorem ipsum dolor sit ame consectetur adipisicing elit Lorem ipsum dolor sit ame consectetur adipisicing elit Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
</div>
</div>
</div>
<div class="col-sm-6 col-md-6">
<div class="media services-wrap wow fadeInDown">
<div class="media-body">
<h3>SERVICE</h3>
<p style=text-align: justify;>Lorem ipsum dolor sit ame consectetur adipisicing elit Lorem ipsum dolor sit ame consectetur adipisicing elit Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
</div>
</div>
</div>
</div>
</div> 
</section> 
<section id="conatcat-info">
<div class="container">
<div class="row">
<div class="col-sm-8">
<div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<div class="pull-left">
<i class="fa fa-phone"></i>
</div>
<div class="media-body">
<h2>Have a question or need a custom quote?</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80</p>
</div>
</div>
</div>
</div>
</div> 
</section> 
<section id="bottom">
<div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="widget">
<h3>Company</h3>
<ul>
<li><a href="#">About us</a></li>
<li><a href="#">We are hiring</a></li>
<li><a href="#">Meet the team</a></li>
<li><a href="#">Copyright</a></li>
<li><a href="#">Terms of use</a></li>
<li><a href="#">Privacy policy</a></li>
<li><a href="#">Contact us</a></li>
</ul>
</div>
</div> 
<div class="col-md-3 col-sm-6">
<div class="widget">
<h3>Support</h3>
<ul>
<li><a href="#">Faq</a></li>
<li><a href="#">Blog</a></li>
<li><a href="#">Forum</a></li>
<li><a href="#">Documentation</a></li>
<li><a href="#">Refund policy</a></li>
<li><a href="#">Ticket system</a></li>
<li><a href="#">Billing system</a></li>
</ul>
</div>
</div> 
<div class="col-md-3 col-sm-6">
<div class="widget">
<h3>Developers</h3>
<ul>
<li><a href="#">Web Development</a></li>
<li><a href="#">SEO Marketing</a></li>
<li><a href="#">Theme</a></li>
<li><a href="#">Development</a></li>
<li><a href="#">Email Marketing</a></li>
<li><a href="#">Plugin Development</a></li>
<li><a href="#">Article Writing</a></li>
</ul>
</div>
</div> 
<div class="col-md-3 col-sm-6">
<div class="widget">
<h3>Our Partners</h3>
<ul>
<li><a href="#">Adipisicing Elit</a></li>
<li><a href="#">Eiusmod</a></li>
<li><a href="#">Tempor</a></li>
<li><a href="#">Veniam</a></li>
<li><a href="#">Exercitation</a></li>
<li><a href="#">Ullamco</a></li>
<li><a href="#">Laboris</a></li>
</ul>
</div>
</div> 
</div>
</div>
</section> 
<footer id="footer" class="midnight-blue">
<div class="container">
<div class="row">
<div class="col-sm-6">
&copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
</div>
<div class="col-sm-6">
<ul class="pull-right">
<li><a href="#">Home</a></li>
<li><a href="#">About Us</a></li>
<li><a href="#">Faq</a></li>
<li><a href="#">Contact Us</a></li>
</ul>
</div>
</div>
</div>
</footer> 
<script src="{% static 'js/home/jquery.js' %}"></script> 
<script src="{% static 'js/home/bootstrap.min.js' %}"></script> 
<script src="{% static 'js/home/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/home/jquery.isotope.min.js' %}"></script>
<script src="{% static 'js/home/main.js' %}"></script>
<script src="{% static 'js/home/wow.min.js' %}"></script>

</body>
</html>