{% extends "base.html" %}
{% load static %}
{% block title %}
Introduction
{% endblock %}
{% block front_pane %}  
<body>
<div class="container">

<div class="item active" style="background-image: url({% static 'images/g.jpg'%});">
</div>
<div class= "container">
	<h2><strong>About the organization</strong></h2>
	<p>Ever since the blossoming of our first ORCHIDS in Hyderabad 16 years ago, to a chain of 25 International Schools, we have impacted more than 25,000 lives, setting a new benchmark for quality of education. ORCHIDS The International School is one of the top International Schools, blooming all over Bengaluru, Mumbai, Hyderabad, and Pune.<br/>

We believe in “Shaping minds, Touching lives, Building Second Homes”.<br/>

Along with academic excellence, we also lay a strong emphasis on personality development and employ a number of innovative ways to inculcate strong values, building responsible individuals and future-ready global citizens.</p>

<p>The school offers ICSE [Indian Certificate of Secondary Education]as a course of study. The primary section from Jr I – Standard IV caters to children with the main focus on the development of the child in the classroom and in the world outside.</p>
<p>The Middle school from Standard V- VII provides a framework of academic challenge and an exposure to a plethora of co-curricular activities to build skills and confidence</p>
<p>The High school from Standard VIII – X is a curriculum demanding in terms of academics along with a well-planned structure for the co-curricular activities like debate, elocution, dramatics, environmental studies, music and projects in science and humanities.</p>




</body>

{% endblock%}