{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
Faculty-register
{% endblock %}
{% block head %}
 {{ block.super }}
 
 <script src="{% static 'js/faculty/faculty_registration.js' %}"></script>

  
  {% endblock %}
  {% block front_pane %}  

<style>
body  {
 
  background-color: #cccccc;
}
</style>




<div class="container" ng-cloak ng-app="qlsApp" ng-controller="registerCtrl" class="container">
 <div class="row">
  {% verbatim %} 
  <div class="col-md-7 panel panel-default" style="margin-top: 50px">
  <form  class="form-horizontal" name="facultyform" ng-submit="registrationform()" novalidate>
    <div class="form-group">
      <label class="col-md-4 control-label" >Full Name<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <input id="full_name" name="full_name"  ng-model ="user.full_name"  type="text" placeholder="" class="form-control"  placeholder="Full Name" required pattern="[A-Za-z '-]{2,}">
        <span style="color: red" ng-show="facultyform.full_name.$error.required && (facultyform.$submitted || facultyform.full_name.$touched)">Full name is required.</span>
        <span style="color: red" ng-show="facultyform.full_name.$error.pattern && (facultyform.$submitted || facultyform.full_name.$touched)">Full name should be only letter.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">username<span class="cus_man7">*</span></label>
      <div class="col-md-10">
        <input   name="username" ng-model ="user.username" ng-pattern="/^[a-z][a-z0-9-_\.]{3,20}$/"   ng-maxlength ="20" ng-minlength="4"  align="right" type="text" id="username" placeholder="username" class="form-control field"  required >
        <span style="color: red" ng-show="facultyform.username.$error.required && (facultyform.username.$touched || facultyform.$submitted)">User name is required.</span>
        <span style="color: red" ng-show="facultyform.username.$error.minlength && (facultyform.username.$touched  || facultyform.$submitted)">User name is too short</span>
        <span style="color: red" ng-show="facultyform.username.$error.maxlength && (facultyform.username.$touched  || facultyform.$submitted)">User name is too long</span>
        <span style="color: red" ng-show="facultyform.username.$error.pattern && (facultyform.$submitted || facultyform.username.$touched)">Username can only contain small letters, number, dots or underscore.</span>
        <span style="color: red">{{ username_error[0] }}</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">password<span class="cus_man7">*</span></label>
      <div class="col-md-10">
       <input id="password" name="password"  ng-model ="user.password" type="text"  class=" form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="Password"  required>
       <span style="color: red" ng-show="facultyform.password.$error.required &amp;&amp; (facultyform.$submitted || facultyform.password.$touched)" class="">Password is required.</span>
       
     </div>
   </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Mobile No<span class="cus_man7">*</span></label>
      <div class="col-md-10">
        <input   name="mobile_no" ng-model ="user.mobile_no"   align="right" type="text" id="mobile_no" placeholder="Mobile No" class="form-control thedate" ng-minlength="10" ng-maxlength="10"    required >
        <span style="color: red" ng-show="facultyform.mobile_no.$error.required && (facultyform.$submitted || facultyform.mobile_no.$touched)">Mobile number is required.</span>
        <span style="color: red" ng-show="facultyform.mobile_no.$error.minlength && (facultyform.$submitted || facultyform.mobile_no.$touched)">mobile number should be only 10 digit.</span>
        <span style="color: red" ng-show="facultyform.mobile_no.$error.maxlength && (facultyform.$submitted || facultyform.mobile_no.$touched)">mobile number should  be only 10 digit.</span>
        <span style="color: red;margin-left: 17px;">{{mobile_error[0]}}</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">qualification<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <input id="qualification" name="qualification"  ng-model ="user.qualification" type="text"  class=" form-control field" required>
        <span style="color: red" ng-show="facultyform.qualification.$error.required && (facultyform.$submitted || facultyform.qualification.$touched)">qualification is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Faculty designation<span class="cus_man7">*</span></label>
      <div class="col-md-10">
        <input id="faculty_designation" name="faculty_designation"  ng-model ="user.faculty_designation" type="text"  class=" form-control field" required>
        <span style="color: red" ng-show="facultyform.faculty_designation.$error.required && (facultyform.$submitted || facultyform.faculty_designation.$touched)">faculty_designation is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Faculty description<span class="cus_man7">*</span></label>
      <div class="col-md-10">
        <input id="faculty_description" name="faculty_description"  ng-model ="user.faculty_description" type="text"  class=" form-control field" required>
        <span style="color: red" ng-show="facultyform.faculty_description.$error.required && (facultyform.$submitted || facultyform.faculty_description.$touched)">faculty_description is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Experience<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <input id="experience" name="experience"  ng-model ="user.experience"  type="text" placeholder="" class="form-control" required>
        <span style="color: red" ng-show="facultyform.experience.$error.required && (facultyform.$submitted || facultyform.experience.$touched)">experience is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">Country<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <input id="country" name="country"   ng-model ="user.country"  type="text" placeholder="" class="form-control" required>
        <span style="color: red" ng-show="facultyform.country.$error.required && (facultyform.$submitted || facultyform.country.$touched)">country is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">State<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <input id="state" name="state"  ng-model ="user.state"  type="text" placeholder="" class="form-control" title="State name should be letter" required >
        <span style="color: red" ng-show="facultyform.state.$error.required && (facultyform.$submitted || facultyform.state.$touched)">state is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">city<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <input id="city" name="city"  ng-model ="user.city"  type="text" placeholder="" class="form-control"  required >
        <span style="color: red" ng-show="facultyform.city.$error.required && (facultyform.$submitted || facultyform.city.$touched)">city is required.</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-4 control-label">pincode<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <input id="pincode" name="pincode"  ng-model ="user.pincode"  type="text" placeholder="" class="form-control"  ng-maxlength="6" ng-minlength="6"  required>
        <span style="color: red" ng-show="facultyform.pincode.$error.required && (facultyform.$submitted || facultyform.pincode.$touched)">pincode is required.</span>
        <span style="color: red" ng-show="facultyform.pincode.$error.maxlength && (facultyform.pincode.$touched  || facultyform.$submitted)">Pin code should be 6 digit</span>
        <span style="color: red" ng-show="facultyform.pincode.$error.minlength && (facultyform.pincode.$touched  || facultyform.$submitted)">Pin code should be 6 digit</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">address<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <textarea id="address" name="address"  ng-model ="user.address"  type="text" placeholder="" class="form-control" required></textarea>
        <span style="color: red" ng-show="facultyform.address.$error.required && (facultyform.$submitted || facultyform.address.$touched)">address is required.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-4 control-label">previous_institute<span class="cus_man7"></span></label>
      <div class="col-md-10">
        <input id="previous_institute" name="previous_institute"  ng-model ="user.previous_institute"  type="text" placeholder="" class="form-control">
        
      </div>
    </div>
    <button type="submit"  class="btn btn-success cus_man4">Submit</button>
  </form> {% endverbatim %}
</div>
</div>
</div>
{% endblock %}
