<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
</head>

<body class="hold-transition skin-blue sidebar-mini">

 <div class="content-wrapper">
  <!-- Main content -->
    <section class="content">
   
   <button class="col-md-offset-10 btn btn-success" ng-click="board_pop()">Create</button>                
   <table ng-cloak ng-table="tableParams" class="table" show-filter="true">
        <tr ng-repeat="board in $data">    
          <td class="col-md-1" data-title="'board content'" filter="{board_window: 'text'}">{{board.board_window}}</td>
                              
        </tr>
      </table>
    </section>
    </div>

  
</body>
</html>


<script type="text/ng-template" id="boardModal.html">

<div class="modal-header">
{{success}}
  <h3>You can add board content</h3>
</div>
<div class="modal-body">
 <input class="form-control" rows="5" id="comment" placeholder="enter the board content" ng-model="board">
</div>
<div class="modal-footer">
   
    <button class="btn btn-primary" ng-click="submit_board()">Create</button>
     
</div>

</script>