{% extends "base.html" %}
<!DOCTYPE html>
{% load static %}

<html lang="en" ng-app="qlsApp">
<head>
  <title>Contact_us</title>
   <meta charset="utf-4">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
   <script src="{% static 'js/pages/contact_us.js' %}"></script>
   
   <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script> -->
     <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 </head>
 
 {% block content %}
{% verbatim %}
<body>
<div class="container" ng-controller="contCtrl" class="container">
 <div class="row">
  <div class="col-md-7 panel panel-default" style="margin-top: 50px">
 <form  class="form-horizontal" name="contact_usForm" ng-submit="submitform()" novalidate>
             
               <!-- Name input-->
               
               <div class="form-group">
                  <label class="col-md-4 control-label" >Full Name<span class="cus_man7">*</span></label>
                  <div class="col-md-10">
                     <input type="text"   name="fullname"  ng-model ="contact_us.fullname" placeholder="Full Name" class="form-control" ng-pattern="/^[A-z_ ]+$/"   required>
                     <span style="color: red" ng-show="contact_usForm.fullname.$error.required && (contact_usForm.$submitted || contact_usForm.fullname.$touched)">Full name is required.</span>

                     <span style="color: red" ng-show="contact_usForm.fullname.$error.pattern && (contact_usForm.$submitted || contact_usForm.fullname.$touched)">Full name should be only letter.</span>  
                     
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-md-4 control-label" >mobile_number<span class="cus_man7">*</span></label>
                  <div class="col-md-10">
                     <input type="text"   name="mobile_number"  ng-model ="contact_us.mobile_number" placeholder="Mobile number" class="form-control" ng-minlength="10" ng-maxlength="10"    required>
                     <span style="color: red" ng-show="contact_usForm.mobile_number.$error.required && (contact_usForm.$submitted || contact_usForm.mobile_number.$touched)">Mobile number is required.</span>

                    
                    <span style="color: red" ng-show="contact_usForm.mobile_number.$error.minlength && (contact_usForm.$submitted || contact_usForm.mobile_number.$touched)">mobile number should be only 10 digit.</span>  
                    <span style="color: red" ng-show="contact_usForm.mobile_number.$error.maxlength && (contact_usForm.$submitted || contact_usForm.mobile_number.$touched)">mobile number should  be only 10 digit.</span>  
                  </div>
                     <span style="color: red;margin-left: 17px;">{{mobile_error[0]}}</span> 
               </div>


               <div class="form-group">
                  <label class="col-md-4 control-label" >email id<span class="cus_man7">*</span></label>
                  <div class="col-md-10">
                     <input type="text"   name="Email_id"  ng-model ="contact_us.Email_id" placeholder="Email ID" class="form-control" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"   required>
                     <span style="color: red" ng-show="contact_usForm.Email_id.$error.required && (contact_usForm.$submitted || contact_usForm.Email_id.$touched)">email is required.</span>

                  <span style="color: red" ng-show="contact_usForm.Email_id.$error.pattern && (contact_usForm.$submitted || contact_usForm.Email_id.$touched)">Invalid Email!.</span>  
                     
                  </div>
                   <span style="color: red;margin-left: 17px;">{{email_error[0]}}</span>
               </div>

               <div class="form-group">
                  <label class="col-md-4 control-label" >country<span class="cus_man7">*</span></label>
                  <div class="col-md-10">
                     <input type="text"   name="country"  ng-model ="contact_us.country" placeholder="Country" class="form-control"    required>
                     <span style="color: red" ng-show="contact_usForm.country.$error.required && (contact_usForm.$submitted || contact_usForm.country.$touched)">country name is required.</span>
                  </div>
               </div>


               <div class="form-group">
                  <label class="col-md-4 control-label" >state<span class="cus_man7">*</span></label>
                  <div class="col-md-10">
                     <input type="text"   name="state"  ng-model ="contact_us.state" placeholder="State" class="form-control"    required>
                     <span style="color: red" ng-show="contact_usForm.state.$error.required && (contact_usForm.$submitted || contact_usForm.state.$touched)">state name is required.</span>
                  </div>
               </div>


               <div class="form-group">
                  <label class="col-md-4 control-label" >city<span class="cus_man7">*</span></label>
                  <div class="col-md-10">
                     <input type="text"   name="city"  ng-model ="contact_us.city" placeholder="City" class="form-control"    required>
                     <span style="color: red" ng-show="contact_usForm.city.$error.required && (contact_usForm.$submitted || contact_usForm.city.$touched)">city name is required.</span>
                  </div>
               </div>

               <div class="form-group">
                  <label class="col-md-4 control-label" >query<span class="cus_man7">*</span></label>
                  <div class="col-md-10">
                     <textarea  name="query"  ng-model ="contact_us.query" placeholder="query" class="form-control"    required></textarea>
                     <span style="color: red" ng-show="contact_usForm.query.$error.required && (contact_usForm.$submitted || contact_usForm.query.$touched)">query block  is required.</span>
                  </div>
               </div>

              <button type="submit" class="btn btn-primary">send</button>
             
        </form>
           </div>
           </body>{% endverbatim %} 
           {% endblock content %}
</html>