
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
QLS-register
{% endblock %}
{% block head %}
{{ block.super }}
 
  <script src="{% static 'js/login/login.js' %}"></script>
  {% endblock %}
  {% block front_pane %}  

<style>
body  {
  background-color: #cccccc;
}
</style>
<div class="container" ng-cloak ng-app="qlsApp" ng-controller ="loginCtrl" class="container">
	<div class="col-sm-6 col-sm-offset-3 panel panel-default">
		{% verbatim %}
		<div class="panel-header">
			<center><h1 class="page-formtitle">Login</h1></center>
			<center><span style="color: red;font-weight: bold;font-size: large;">{{success}}</span></center>
		</div>
		<div class="panel-body">
			<form  class="col-md-12"  name="loginform" ng-submit="loginformsubmit()"  novalidate>
				<div class="form-group">
				
					<div class="col-md-12">
						<input   name="username" ng-model ="user.username" ng-pattern="/^[a-z][a-z0-9-_\.]{3,20}$/"   ng-maxlength ="20" ng-minlength="4"  align="right" type="text" id="username" placeholder="username" class="form-control field"  required >
						<span style="color: red" ng-show="loginform.username.$error.required && (loginform.username.$touched || loginform.$submitted)">User name is required.</span>
						<!-- <span style="color: red" ng-show="loginform.username.$error.minlength && (loginform.username.$touched  || loginform.$submitted)">User name is too short</span>
						<span style="color: red" ng-show="loginform.username.$error.maxlength && (loginform.username.$touched  || loginform.$submitted)">User name is too long</span>
						<span style="color: red" ng-show="loginform.username.$error.pattern && (loginform.$submitted || loginform.username.$touched)">Username can only contain small letters, number, dots or underscore.</span> -->
						<span style="color: red">{{ username_error[0] }}</span> -->
					</div>
				</div>
				

				<div class="form-group">
			
					<div class="col-md-12">				
					<input id="password" name="password"  ng-model ="user.password" type="text"  class=" form-control ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" placeholder="Password"  required>
					<span style="color: red" ng-show="loginform.password.$error.required && (loginform.password.$touched || loginform.$submitted)">password is required.</span>
				</div>
			</div>
			
				<button type="submit"   class="btn btn-primary btn-block">LOGIN</button>
			</form>

		</div>
		{% endverbatim %} 
	</div>
</div>
{% endblock %}
