
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
QLS-register
{% endblock %}
{% block head %}
 {{ block.super }}
 
  <script src="{% static 'js/login/login.js' %}"></script>

  
  {% endblock %}
  {% block front_pane %}  

<style>
body  {
 
  background-color: #cccccc;
}
</style>




<body>
<div ng-cloak ng-app="qlsApp" ng-controller ="loginCtrl" class="container">	
	<div class="col-sm-6 col-sm-offset-3 panel panel-default">
		{% verbatim %} 
		<div class="panel-header">
			<center><h1 class="page-formtitle">Login</h1></center>
		</div>
		<div class="panel-body">
			<form   ng-submit="loginformsubmit(loginform.$valid)" class="col-md-12"  name="loginform" novalidate>
				<div class="form-group">
					<input type="text" name="username"  ng-model="login.username" class="form-control input-lg " placeholder="Username">
				</div>	
				<div class="form-group">				
					<input type="password" name="password" ng-model ="login.password" class="form-control input-lg" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
			</form>

		</div>
	</div>
</div>
</body>{% endverbatim %} 

</html>
{% endblock %}