
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en"  ng-app="qlsApp">
<head>
  <title>Registration</title>
  <meta charset="utf-4">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
  <script src="{% static 'js/login/login.js' %}"></script>   
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<style>
body  {
 
  background-color: #cccccc;
}
</style>
{% verbatim %} 

<body>
<div ng-cloak ng-app="qlsApp" ng-controller ="loginCtrl" class="container">	
	<div class="col-sm-6 col-sm-offset-3 panel panel-default">
		<div class="panel-header">
			<center><h1 class="page-formtitle">Login</h1></center>
		</div>
		<div class="panel-body">
			<form   ng-submit="loginformsubmit(loginform.$valid)" class="col-md-12"  name="loginform" novalidate>
				<div class="form-group">
					<input type="text" name="username"  ng-model="login.username" class="form-control input-lg " placeholder="Username">
				</div>	
				<div class="form-group">				
					<input type="password" name="password" ng-model ="login.password" class="form-control input-lg" placeholder="Password">
				</div>
				<button type="submit" class="btn btn-primary btn-lg btn-block">LOGIN</button>
			</form>

		</div>
	</div>
</div>
</body>{% endverbatim %} 
</html>
