<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
</head>

<body class="hold-transition skin-blue sidebar-mini">
<!-- 	<div class="content-wrapper">
		<section class="content">
			
			 <input type="text"   name="school_name"  ng-model ="school_name" placeholder="school_name" class="form-control"  >
			
    <button class="col-md-offset-10 btn btn-primary" ng-click="submit_school_name()">Submit</button>
    		</section>
	</div> -->






     <div class="container">
        <div class="row">
            
                <div class="card-content">
                   
                    	 <div class="card-desc">
                        <h3>school_name:{{success}}</h3>
                              
                    </div>
   
		</div>
	</div>
</div>
</body>
</html>