
{% extends "base.html" %}
{% load staticfiles %}
{% block title %}
QLS-register
{% endblock %}
{% block head %}
{{ block.super }}
 
  <script src="{% static 'js/admission_fee/admission_fee.js' %}"></script>
  {% endblock %}
  {% block front_pane %}  
<style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
<div class="container" ng-cloak ng-app="qlsApp" ng-controller ="contCntrl" class="container">
  <div class="col-sm-4 ">
    {% verbatim %}

  </div>
<h1><center><strong style="color: blue">Fee Structure</strong></center></h1>
<!-- <h2><center><strong>School Name:{{school_name}}</strong></center></h2> -->
<select name="dropChange" ng-model="value" ng-change="admission_fee()" class="form-control" >
        <option value="1"  style="color: blue" >Class 1</option>
        <option value="2"  style="color: blue" >Class 2</option>
        <option value="3"  style="color: blue" >Class 3</option>
        <option value="4"  style="color: blue">Class 4 </option>
        <option value="5" style="color: blue" >Class 5 </option>
        <option value="6" style="color: blue" >Class 6 </option>
        <option value="7" style="color: blue" >Class 7 </option>
        <option value="8" style="color: blue">Class 8 </option>
        <option value="9" style="color: blue" >Class 9 </option>
        <option value="10" style="color: blue">Class 10 </option>
        <option value="11" style="color: blue" >Class 11 </option>
        <option value="12" style="color: blue" >Class 12</option>

</select>
 


 
 <div class="col-sm-6 col-sm-offset-3 panel panel-default" ng-show='istablehide' >
  <table border = "0" >
   
        
                    <tr>
               <td>admission_fee: </td>
               <td>{{add_fee}}</td>
            </tr>
            <tr>
               <td>monthly_fee: </td>
               <td>{{monthly_fee}}</td>
            </tr>
             <tr>
               <td>bus_fee: </td>
               <td>{{bus_fee}}</td>
            </tr>
             
            <tr>
               <td>extra_curricular_activities:</td>
               
               <td>
                  <table>
                     <tr>
                        <th>curricular_activitie</th>.
                        <th>curricular_fee</th>
                     </tr>
                     <tr ng-repeat = "subject in admission_fee">
                        <td>{{ subject.extra_curricular_activities }}</td>
                        <td>{{ subject.extra_curricular_activities_fee }}</td>
                     </tr>
                  </table>
               </td>
            </tr>
            

            
</table>
  </div></div>
  {% endverbatim %}</div>
</div>
</div>{% endblock %}


