{% extends "base.html" %}
{% load static %}
{% block title %}
how to apply?
{% endblock %}
{% block front_pane %} 
<body>
 <div class="col-xs-7 col-sm-6 col-lg-8 wow fadeInDown">
<div class="accordion">
<h2 style="color: red">How to Apply?</h2>
<div class="panel-group" id="accordion1">
<div class="panel panel-default">
<div class="panel-heading " style="background-color:blue">
<h3 class="panel-title">
<a class="accordion-toggle" style="color:white" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
Contact the Admission Department
<i class="fa fa-angle-right pull-right"></i>
</a>
</h3>
</div>
<div id="collapseOne1" class="panel-collapse collapse in">
<div class="panel-body">
<div class="media accordion-inner">
<div class="pull-left">
<img class="img-responsive">
</div>
<div class="media-body">

<p><h4>The concerned staff in the enquiry section will be very happy to help you in the Admission process</h4></p>
</div>
</div>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading"  style="background-color:blue">
<h3 class="panel-title">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1" style="color:white">
Make a Application
<i class="fa fa-angle-right pull-right"></i>
</a>
</h3>
</div>
<div id="collapseTwo1" class="panel-collapse collapse">
<div class="panel-body">
Applicants will be required to submit the following information to the Admissions Department to proceed with an application:<br/>

1.Application Form<br>
2.Previous three years' school reports (including current year)  <br>
3.Copy of passport/Aadhar<br>
4.Six passport size photographs<br>

</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" style="background-color:blue">
<h3 class="panel-title">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1" style="color:white" >
Sit for Entrance Assessment
<i class="fa fa-angle-right pull-right"></i>
</a>
</h3>
</div>
<div id="collapseThree1" class="panel-collapse collapse">
<div class="panel-body" >
<p><h4>Once your Application Form and Fee have been received, applicants will be required to sit an Entrance Assessment at the appropriate time.  Successful applicants will be invited for an interview before a decision on their application is decided on.</h4></p>
</div>
</div>
</div>
<div class="panel panel-default">
<div class="panel-heading" style="background-color:blue">
<h3 class="panel-title">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1" style="color:white">
Contact Us
<i class="fa fa-angle-right pull-right"></i>
</a>
</h3>
</div>
<div id="collapseFour1" class="panel-collapse collapse">
<div class="panel-body" >

<div class="top-number"><p><i class="fa fa-phone-square"></i> +91 8800144116</p></div>
</div>
<div class="col-sm-6 col-xs-8">
<div class="social">
<ul class="social-share">
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
<li><a href="#"><i class="fa fa-skype"></i></a></li>
</ul>

</div>
</div>
</div>
</div>
</div>
</div> 
</div>
</div>
</div> 
</div> 
</body>

{% endblock%}