<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
</head>

<body class="hold-transition skin-blue sidebar-mini">

 <div class="content-wrapper">
  <!-- Main content -->
    <section class="content">
   

{{success}}


    <div class="btn-group" uib-dropdown is-open="status.isopen">
      <button id="select_dropdown" type="select_dropdown" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
        select dropdown <span class="caret"></span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="single-button">
        <li role="menuitem"><a href="/static/admin/admission_fee/view/admission_feeform.html"
          ng-click="">Class 1 to Class 3</a></li>
        <li role="menuitem"><a href="/static/admin/admission_fee/view/admission_feeform.html">Class 4 to Class 10</a></li>
       </ul>
    </div>
<h1>hyhy</h1>


  </section>
</div>


  
</body>
</html>




