<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
</head>

<body class="hold-transition skin-blue sidebar-mini">

 <div class="content-wrapper">
  <!-- Main content -->
    <section class="content">
  
 <select name="dropChange" ng-model="dropValue" ng-change="DropDownChnaged()">
        <option value="1to3">Class 1 To 3</option>
        <option value="4to12">Class 4 to 12</option>
    </select>

 <div class="row"  ng-show='isform'>
   <div class="col-md-7 panel panel-default" style="margin-top: 50px">
 <form  class="form-horizontal" name="admission_fee"  novalidate>
             
              
               
               <div class="form-group">
                  <label class="col-md-10 control-label" ><span class="cus_man7"></span></label>
                  <div class="col-md-10-7">
                     <input type="text"   name="admission_fee"  ng-model ="user.admission_fee" placeholder=" Admission_Fee" class="form-control"  >
                     
                     
                  </div>
               </div>
               <div class="form-group">
                  <label class="col-md-10 control-label" ><span class="cus_man7"></span></label>
                  <div class="col-md-10">
                     <input type="text"   name="monthly_fee"  ng-model ="user.monthly_fee" placeholder="monthly_fee" class="form-control">
                       
                  </div>
                    
               </div>


               <div class="form-group">
                  <label class="col-md-10 control-label" ><span class="cus_man7"></span></label>
                  <div class="col-md-10">
                     <input type="text"   name="bus_fee"  ng-model ="user.bus_fee" placeholder="Bus Fee" class="form-control" >
                      
                     
                  </div>
                 
               </div>
  <div class="form-group">
                  <label class="col-md-10 control-label" ><span class="cus_man7"></span></label>
                  <div class="col-md-10">
                     <input type="text"   name="bus_fee"  ng-model ="user.bus_fee" placeholder="Standard" class="form-control" >
                      
                     
                  </div>
                 
               </div>
            

               <div class="form-group" ng-hide='isformextra'>
                  <label class="col-md-10 control-label" ><span class="cus_man7"></span></label>
                  <div class="col-md-107">
                     <input type="text"   name="extra_curricular_activities"  ng-model ="extra_curricular_activities" placeholder="extra_curricular_activities" class="form-control">
                     
                  </div>
               </div>


               

              

              <button type="submit" class="btn btn-primary" ng-click="admission_fee()" ng-hide="Isextra_curricular_activities">submit</button>
             <!--  <button type="submit" class="btn btn-primary" ng-click="admission_fee1" ng-show="Isextra_curricular_activities">submit</button> -->

             
        </form>
       
           </div>
           
</div>
</div>
 


  </section>
</div>


  
</body>
</html>




