
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AdminLTE 2 | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
       
  
</head>

<body class="hold-transition skin-blue sidebar-mini">

 <div class="content-wrapper">
  <!-- Main content -->
    <section class="content">

  <div class="col-sm-6 col-sm-offset-3 panel panel-default">
  

  
  
  <ol >
    <div>
      <li class="list-group-item list-group-item-success" ng-repeat="admission_fee in admission_fees"> 

      {{admission_fee.admission_fee}}</li>
      
     
    </div>

    </div></ol> 
</div></section>
</div>
</div>